<!-- Libs JS -->
<script src="{{ '/assets/libs/jquery/dist/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/jquery-slimscroll/jquery.slimscroll.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/feather-icons/dist/feather.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/prismjs/components/prism-core.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/prismjs/components/prism-markup.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/prismjs/plugins/line-numbers/prism-line-numbers.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/apexcharts/dist/apexcharts.min.js' | relative_url }}"></script>
<script src="{{ '/assets/libs/dropzone/dist/min/dropzone.min.js' | relative_url }}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

<script src="{{ '/assets/js/theme.min.js' | relative_url }}"></script>

{% if page.custom_js %}
  {% for t_js in page.custom_js %}
    {% if t_js contains 'https://' %}
      <script src="{{ t_js }}"></script>
    {% else %}
      <script src="{{ t_js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.extra_script %}
  <script type="text/javascript">
    {{ page.extra_script }}
  </script>
{% endif %}